/**********************************************************
    widget.form styles
***********************************************************/
.table-form .w2ui-select {
    background: #fff;
    outline: none !important;
}

.table-form .w2ui-field-helper.w2ui-list {
    margin-left: -1px !important;
    width: 100% !important;
    border-radius: 0px;
    border-color: #cfcfcf;
    height: 28px !important;
    outline: 0 !important;
}

.table-form .w2ui-field.w2ui-required > div::before {
    content: '';
}

.table-form .w2ui-field.w2ui-required > label::after {
    content: ' *';
    color: #f00;
}

.table-form .w2ui-field > label {
    border: 1px solid lavender;
    margin: 0;
    height: 28px;
    line-height: 28px;
    vertical-align: central;
    padding-right: 6px;
    width:95px;
    /*font-weight: bold;*/
}

.table-form .w2ui-field > div {
    margin-left: 96px;
    border: 1px solid lavender;
    background-color: white;
    padding-bottom: 2px;
}

.table-form hr.separator {
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
    margin: 14px 0;
}
.table-form td {
    padding-right: 4px;
}


/**********************************************************
    widget.title - toolbar styles
***********************************************************/
.title-toolbar .w2ui-tb-image>span {
    color: #fff !important;
    font-size:16px!important;
    opacity: 0.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.title-toolbar .w2ui-tb-caption {
    font-family: 'Open Sans' !important;
    color: #fff !important;
    font-size:16px!important;
    opacity: 0.8;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.title-toolbar .w2ui-tb-caption:hover {
     opacity: 1;
}

.title-toolbar .over{
    background-color:inherit !important;
    border-color: #8a8787 !important;
}


/**********************************************************
    jquery-ui.diaglog  styles
***********************************************************/

ui-dialog-titlebar-maximize{

}

/*.ui-dialog {
    margin: 0px !important;
    z-index: 1000 !important; 
    border: 1px solid black !important;
    border: 0 !important;
}*/

.ui-dialog .ui-dialog-titlebar {
    padding: 5px !important;
    color: white;
    font-size: 14px;
    border-radius: 0 !important;
    font-family: 'Open Sans' !important;
    font-weight: 900;
    background-color: #555 !important;
}

.ui-dialog .ui-dialog-content {
    padding: 0px !important;
    overflow: hidden !important;
    padding-bottom: -20px !important;
}

.ui-dialog-content .ui-widget-content {
    padding-bottom: -10px !important;
}

.ui-dialog {
    margin:-1px 1px -1px -1px !important;
    padding: 0 !important;
    border-radius: 0 !important;
    border: 1px solid #595959;
    border-color: #595959 !important;
    box-shadow: 0px 0px 3px 3px rgba(125, 125, 125, 0.2);
}

.ui-widget-header {
    border-width: 0 !important;
    height:28px;
}

.ui-dialog-titlebar-collapse {
    border-radius: 0 !important;
    background-color: transparent !important;
    border: 0 !important;
    margin: -1px !important;
}

.ui-dialog-titlebar-collapse > .ui-icon {
    background-image: url("../../Content/plugins/jquery-ui-1.11.4/images/ui-icons_ffffff_256x240.png") !important;
}

