@using TB.Domain.EntityModel;
@{
    QLBH db = new QLBH();
}
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="container-widget ">
    <div class="container">
        <nav class="breadcrumbs"> <a href="~/">Trang chủ</a> <span class="divider">›</span><a href="~/Home/ViewCarts">Giỏ hàng</a> <span class="divider">›</span>Thanh toán </nav>
        <div class="row">

            <h3>THANH TOÁN</h3>
            <form action="~/Home/ThemDonHangKhachLa" method="post">
                <div class="col-sm-6">
                    <h4>Thanh toán dạng khách hoặc thành viên</h4>
                    <p>Tạo tài khoản để nhận nhiều ưu đãi hơn</p>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="false" checked="checked">
                            Thanh toán dạng khách
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="true" >
                            Thành viên
                        </label>
                    </div>
                   

                    <h6>Đăng nhập để tiết kiệm thời gian</h6>
                    <p> Tạo tài khoản để có nhiều thuận lợi hơn</p>
                    <ul>
                        <li> <strong>Thanh toán nhanh chóng và dễ dàng</strong></li>
                        <li><strong> Dễ dàng kiểm tra trạng thái và tình trạng đơn hàng</strong></li>
                    </ul>
                    <input class="btn btn-mega" type="submit" value="TIẾP TỤC" /></input>
                </div>
                <div class="col-sm-6">
                    <h4>Khách</h4>
                    <p> Điền đầy đủ thông tin bên dưới:</p>

                    <div class="form-group">
                        <label class="light">Họ và tên<span class="required"> *</span></label>
                        <input name="ThongTinNguoiDung.HoTen" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="light">Số điện thoại<span class="required"> *</span></label>
                        <input type="number" name="ThongTinNguoiDung.SoDienThoai" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="light">Email<span class=""></span></label>
                        <input type="email"name="ThongTinNguoiDung.Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="light">Địa chỉ<span class="required"> *</span></label>
                        <input type="text" class="form-control" name="ThongTinNguoiDung.DiaChi">
                    </div>
                    <div class="form-label" style="display:inline"> <p>Tỉnh Thành Phố * </p></div>
                    <select name="ThongTinNguoiDung.TinhThanhPhoId"onchange="GetQuanhuyen()" id="TinhThanhPho" class="selectpicker" data-width="50%">
                        @{
                            foreach (var item in db.TinhThanhPhoes)
                            {
                                <option value="@item.TinhThanhPhoId">@item.Ten</option>
                            }
                        }

                    </select>

                    <div class="form-label" style="display:inline" name=""> <p>Quận Huyện * </p></div>
                    <select name="ThongTinNguoiDung.QuanId" class="selectpicker" id="quanhuyen" data-width="50%"></select>
                    <div class="text-right"> <span class="required">*</span> Bắt buộc nhập</div>
                </div>
            </form>

        </div>

    </div>
    </div>
</section>

