@using TB.Domain.EntityModel;
@{
    QLBH db = new QLBH();
}
@model List<TB.Domain.EntityModel.HangHoa>

<!-- Slider -->
<section class="main-slider container hidden-xs">
    <div class="owl-slider-outer">
        <a class="owl-slider-prev"></a> <a class="owl-slider-next"></a>
        <div class="owl-slider">
            <div class="item"><img src="~/Content/Template/images/home_boxed_slider1-798x268.jpg" alt=""> <a href="index.html" class="title-slide-01"> <span class="big">Sale</span> <span class="middle">up to 40% OFF</span> </a></div>
            <div class="item"><img src="~/Content/Template/images/home_boxed_slider2-798x268.jpg" alt=""> <a href="index.html" class="title-slide-02"> <span class="big">New</span> <span class="small">collection</span> <span class="middle">AUTUMN 2014</span> </a> </div>
            <div class="item"><img src="~/Content/Template/images/home_boxed_slider3-798x268.jpg" alt=""> <a href="index.html" class="title-slide-03"> <span class="big">Special offer</span> <span class="middle">Save money with Lingerie SALE</span> </a></div>
        </div>
    </div>
    <div class="banners-block">
        <div class="item">
            <a href="#">
                <img src="~/Content/Template/images/banner1.jpg" alt="">
                <div class="banner-text black">
                    100%<br>
                    RETINA READY
                </div>
            </a>
        </div>
        <div class="item">
            <a href="#">
                <img src="~/Content/Template/images/banner2.jpg" alt="">
                <div class="banner-text">
                    <div class="inside">
                        RESPONSIVE<br>
                        LAYOUT
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<!-- //end Slider -->
<!-- Social widgets -->
<section class="social-widgets hidden-xs">
    <ul class="items">
        <li class="item item-01 facebook">
            <a href="social/facebook.html" class="tab-icon"><span class="icon-facebook-3"></span></a>
            <div class="tab-content">
                <div class="title">FACEBOOK</div>
                <div class="loading"><img src="~/Content/Template/images/ajax-loader.gif" class="ajaxloader" alt="loader"></div>
            </div>
        </li>
        <li class="item item-02 twitter">
            <a href="social/twitter.html" class="tab-icon"><span class="icon-twitter-3"></span></a>
            <div class="tab-content">
                <div class="title">TWITTER FEEDS</div>
                <div class="loading"><img src="~/Content/Template/images/ajax-loader.gif" class="ajaxloader" alt="loader"></div>
            </div>
        </li>
        <li class="item item-03 youtube">
            <a href="social/youtubevideo.html" class="tab-icon"><span class="icon icon-youtube-3"></span></a>
            <div class="tab-content">
                <div class="title">Video</div>
                <div class="loading"><img src="~/Content/Template/images/ajax-loader.gif" class="ajaxloader" alt="loader"></div>
            </div>
        </li>
        <li class="item item-04 contacts">
            <a href="social/googlemap.html" class="tab-icon"><span class="icon-globe"></span></a>
            <div class="tab-content">
                <div class="title">Find Us</div>
                <div class="loading"><img src="~/Content/Template/images/ajax-loader.gif" class="ajaxloader" alt="loader"></div>
            </div>
        </li>
    </ul>
</section>
<!-- //end Social widgets -->
<!-- Services -->
<section class="services-block hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-lg-4 divider-right"> <a href="index.html" class="item"> <span class="icon icon-airplane-2"></span> <span class="title">Free shipping</span> <span class="description">on orders over $200</span> </a> </div>
            <div class="col-xs-12 col-sm-4 col-lg-4 divider-right"> <a href="index.html" class="item"> <span class="icon icon-clock"></span> <span class="title">30-day returns</span> <span class="description">moneyback guarantee</span> </a> </div>
            <div class="col-xs-12 col-sm-4 col-lg-4"> <a href="index.html" class="item"> <span class="icon icon-umbrella "></span> <span class="title">24/7 Support </span> <span class="description">online consultations</span> </a> </div>
        </div>
    </div>
</section>
<!-- //end Services -->
<!-- Two columns content -->
<section class="container content">
    <div class="row">

        <!-- Left column -->
        <aside class="col-sm-4 col-md-3 col-lg-3 content-aside">
            <!-- Shop by categories -->
            <section>
                @{
                    Html.RenderPartial("~/Views/Shared/_pvLoaiHangHoa.cshtml", db.LoaiHangHoas);
                }
            </section>
            <!-- //end Shop by categories -->

            <div class="section-divider"></div>
        </aside>
        <!-- //end Left column -->
        <!-- Right column -->
        <section class="col-sm-8 col-md-9 col-lg-9 content-center">
            <!-- LoadSanpham -->
            <!-- Products list -->
            <div class="row">
                <div class="products-list-isotope">


                    @{

                        foreach (var tmp in Model)
                        {
                            <div class="product-preview category1">
                                <div class="preview animate scale">
                                    <a href="~/HangHoa/XemChiTiet/@tmp.HangHoaId" class="preview-image">
                                        @if (tmp.AnhHangHoas != null && tmp.AnhHangHoas.Count != 0)
                                        { 
                                                <img class="img-responsive animate scale" src="@tmp.AnhHangHoas.First().LinkAnhMini" width="270" height="328" alt="" >
                                        }
                                        else
                                        {
                                            <img class="img-responsive animate scale" src="~/Content/ip7.jpg" width="270" height="328" alt="">
                                            @*kiem anhr Khong co anh, bo vo dday*@
                                        }
                                    </a>
                                    <ul class="product-controls-list right">
                                        <li><span class="label label-sale">SALE</span></li>
                                        <li><span class="label">-20%</span></li>
                                    </ul>
                                    <ul class="product-controls-list right hide-right">
                                        <li class="top-out"></li>
                                        <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                                        <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                        <li><a class="cart" style="cursor:pointer" onClick="cart.AddCart(@tmp.HangHoaId);"><span class="icon-basket"></span></a></li>
                                    </ul>
                                    <a href="_ajax_view-product-popup.html" class="quick-view  fancybox fancybox.ajax hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                                    <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                </div>
                                <h3 class="title"><a href="#">@tmp.Ten</a></h3>
                                <div class="product-options-outer">
                                    <div class="product-options"> <i class="icon icon-color icon-color-white" data-href="~/Content/Template/images/products/product-12.jpg"></i> <i class="icon icon-color icon-color-beige" data-href="~/Content/Template/images/products/product-17.jpg"></i> <i class="icon icon-color icon-color-red" data-href="~/Content/Template/images/products/product-25.jpg"></i> <i class="icon icon-color icon-color-pink" data-href="~/Content/Template/images/products/product-31.jpg"></i> <i class="icon icon-color icon-color-magneta" data-href="~/Content/Template/images/products/product-07.jpg"></i> <i class="disable icon icon-color icon-color-green" data-href="~/Content/Template/images/products/product-11.jpg"></i> <i class="disable icon icon-color icon-color-gray"></i> <i class="disable icon icon-color icon-color-brown"></i> </div>
                                </div>
                                <span class="price old">1 Vnd</span> <span class="price new">@Convert.ToDouble(tmp.GiaBanThamKhao).ToString("N0") Vnd</span>
                            </div>
                        }

                    }

                </div>
            </div>
            <!-- //end Products list -->
        </section>
        <!-- //end Right column -->

    </div>
</section>
<!-- //end Two columns content --> <!-- Social navbar -->
<section class="content content-border nopad-xs social-widget">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6  col-lg-6 newsletter collapsed-block">
                <div class="row">
                    <div class="col-lg-5  col-md-12 col-sm-12 ">
                        <h3>NEWSLETTER SIGNUP <a class="expander visible-xs" href="#TabBlock-1">+</a></h3>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 tabBlock" id="TabBlock-1">
                        <p>Enter your email and we'll send you a coupon with 10% off your next order.</p>
                        <form class="form-inline" role="form">
                            <div class="form-group input-control">
                                <button type="submit" class="button"><span class="icon-envelop"></span></button>
                                <input type="text" class="form-control" value="Your E-mail..." onblur="if (this.value == '') {this.value = 'Your E-mail...';}" onfocus="if(this.value == 'Your E-mail...') {this.value = '';}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 collapsed-block">
                <h3>FIND US ON<a class="expander visible-xs" href="#TabBlock-2">+</a></h3>
                <div class="tabBlock" id="TabBlock-2">
                    <ul class="find-us">
                        <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-facebook-3"></span></a></li>
                        <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-twitter-3"></span></a></li>
                        <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-linkedin-2"></span></a></li>
                        <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-youtube-3"></span></a></li>
                        <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-pinterest-2"></span></a></li>
                        <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-googleplus-2"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //end Social navbar -->