@model List<TB.Domain.EntityModel.HangHoa>

@{
    ViewBag.Title = "Tientest";
    Layout = "~/Views/Shared/TienTestLayout.cshtml";
}

@{
    foreach (var tmp in Model)
    {
        <div class="product-preview category1">
            <div class="preview animate scale">
                <a href="product_default.html" class="preview-image"><img class="img-responsive animate scale" src="~/Content/ip7.jpg" width="270" height="328" alt=""></a>
                <ul class="product-controls-list right">
                    <li><span class="label label-sale">SALE</span></li>
                    <li><span class="label">-20%</span></li>
                </ul>
                <ul class="product-controls-list right hide-right">
                    <li class="top-out"></li>
                    <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                    <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                    <li><a href="#" class="cart"><span class="icon-basket"></span></a></li>
                </ul>
                <a href="_ajax_view-product-popup.html" class="quick-view  fancybox fancybox.ajax hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
            </div>
            <h3 class="title"><a href="#">@tmp.Ten</a></h3>
            <div class="product-options-outer">
                <div class="product-options"> <i class="icon icon-color icon-color-white" data-href="~/Content/Template/images/products/product-12.jpg"></i> <i class="icon icon-color icon-color-beige" data-href="~/Content/Template/images/products/product-17.jpg"></i> <i class="icon icon-color icon-color-red" data-href="~/Content/Template/images/products/product-25.jpg"></i> <i class="icon icon-color icon-color-pink" data-href="~/Content/Template/images/products/product-31.jpg"></i> <i class="icon icon-color icon-color-magneta" data-href="~/Content/Template/images/products/product-07.jpg"></i> <i class="disable icon icon-color icon-color-green" data-href="~/Content/Template/images/products/product-11.jpg"></i> <i class="disable icon icon-color icon-color-gray"></i> <i class="disable icon icon-color icon-color-brown"></i> </div>
            </div>
            <span class="price old">1 Vnd</span> <span class="price new">@Convert.ToDouble(tmp.GiaBanThamKhao).ToString("N0") Vnd</span>
        </div>
    }

}
