@using TB.Domain.EntityModel;
@{
    QLBH db = new QLBH();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Megatron Template</title>
    <!-- CSS preloader -->
    <link href="~/Content/Template/css/loader.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/Template/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/Template/css/megatron-template.css" rel="stylesheet">
    <!-- CSS modules -->
    <link href="~/Content/Template/css/icomoon.css" rel="stylesheet">
    <link href="~/Content/Template/css/fontello.css" rel="stylesheet">
    <link href="~/Content/Template/css/flexslider.css" rel="stylesheet">
    <link href="~/Content/Template/css/jcarousel.css" rel="stylesheet">
    <link href="~/Content/Template/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/Template/css/owl.theme.css" rel="stylesheet">
    <link href="~/Content/Template/css/cloudzoom.css" rel="stylesheet">
    <link href="~/Content/Template/css/sfmenu.css" rel="stylesheet">
    <link href="~/Content/Template/css/isotope.css" rel="stylesheet">
    <link href="~/Content/Template/css/smoothness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
    <link href="~/Content/Template/css/jquery.fancybox.css" rel="stylesheet">
    <link href="~/Content/Template/css/hoverfold.css" rel="stylesheet">
    @RenderSection("styles", false)
</head>
<body class="responsive">
    <div class="loader">
        <div class="bubblingG"> <span id="bubblingG_1"> </span> <span id="bubblingG_2"> </span> <span id="bubblingG_3"> </span> </div>
    </div>
    <!-- Off Canvas Menu -->
    <nav id="off-canvas-menu">
        <div id="off-canvas-menu-title">MENU<span class="icon icon-cancel-3" id="off-canvas-menu-close"></span></div>
        <ul class="expander-list">
            <li>
                <span class="name"><span class="expander">-</span> <a href="index.html">Home</a></span>
                <ul>
                    <li><span class="name"><a href="index_header_alt.html">Header Alternative</a></span></li>
                    <li><span class="name"><a href="index_scroll_slider.html">Scroll Slider</a></span> </li>
                    <li><span class="name"><a href="home_simpleslider.html">Simple Slider</a></span> </li>
                    <li><span class="name"><a href="home_boxed.html">Boxed</a></span> </li>
                    <li><span class="name"><a href="home_boxed_with_banners.html">Boxed with banners</a></span> </li>
                    <li><span class="name"><a href="home_fluid_live_chat.html">Fluid chat</a></span> </li>
                    <li><span class="name"><a href="home_isotope.html">Isotope</a></span> </li>
                    <li><span class="name"><a href="home_isotope_newsletter_popup.html">Newsletter popup</a></span> </li>
                    <li><span class="name"><a href="home_megamenu.html">Megamenu </a></span></li>
                    <li><span class="name"><a href="home_usual_menu.html">Usual Menu</a></span> </li>
                    <li><span class="name"><a href="index_1400.html">Maximum width 1400</a></span> </li>
                    <li><span class="name"><a href="index_1600.html">Maximum width 1600</a></span> </li>
                    <li><span class="name"><a href="index_noresponsive.html">Noresponsive</a></span> </li>
                </ul>
            </li>
            <li>
                <span class="name"><span class="expander">-</span> <a href="index.html">Layouts</a></span>
                <ul>
                    <li><span class="name"><a href="index_corporate.html">Layout Corporative</a></span> </li>
                    <li><span class="name"><a href="index_electronics.html">Layout Electronics</a></span> </li>
                    <li><span class="name"><a href="index_food.html">Layout Food</a></span> </li>
                    <li><span class="name"><a href="index_kids.html">Layout Kids</a></span> </li>
                    <li><span class="name"><a href="home_boxed_background.html">Background Isotope</a></span></li>
                    <li><span class="name"><a href="home_creative.html">Creative</a></span></li>
                    <li><span class="name"><a href="home_sidebar.html">Left Column</a></span></li>
                </ul>
            </li>
            <li>
                <span class="name"><span class="expander">-</span> <a href="listing.html">Listing </a></span>
                <ul>
                    <li> <span class="name"><a href="listing_big_products.html"> Usual </a></span></li>
                    <li> <span class="name"><a href="listing_big_products_no_leftcolumn.html"> Without Left Column </a> </span></li>
                    <li> <span class="name"><a href="listing_small_products.html"> Small Previews </a></span> </li>
                    <li> <span class="name"><a href="listing_small_products_no_leftcolumn.html"> Small Previews Without Left Column </a></span></li>
                </ul>
            </li>
            <li>
                <span class="name"><span class="expander">-</span> <a href="product_default.html">Product</a></span>
                <ul>
                    <li> <span class="name"><a href="product_default.html"> Product Page </a> </span></li>
                    <li> <span class="name"><a href="product_default_left_preview.html"> Product Left Preview</a> </span></li>
                    <li> <span class="name"><a href="product_default_left_preview_tabs.html">Product Left Preview + Tabs</a></span></li>
                    <li><span class="name"><a href="product_right_big_product.html">Product Big</a></span></li>
                    <li><span class="name"><a href="product_right_customblock.html">Product + Custom Block</a></span></li>
                    <li><span class="name"><a href="product_right_customblock_advanced.html">Product + Custom Block Advanced</a></span></li>
                    <li><span class="name"><a href="product_right_left_preview_tabs_video.html">Product + Video</a></span></li>
                    <li><span class="name"><a href="product_right_small_products.html">Product + Small Products</a></span></li>
                </ul>
            </li>
            <li>
                <span class="name"><span class="expander">-</span> <a href="blog.html">Blog</a></span>
                <ul>
                    <li><span class="name"><a href="blog_posts_table_view.html"> Table View </a> </span></li>
                    <li><span class="name"><a href="blog_posts_time_line.html"> Time Line </a> </span></li>
                    <li> <span class="name"><a href="blog_single_post.html"> Single Post </a></span> </li>
                </ul>
            </li>
            <li>
                <span class="name"><span class="expander">-</span> <a href="gallery_3d.html">Gallery</a></span>
                <ul>
                    <li> <span class="name"><a href="gallery_3d.html"> Gallery: 3D Effect </a> </span></li>
                    <li> <span class="name"><a href="gallery_2columns.html"> Gallery: 2 Columns </a></span> </li>
                    <li> <span class="name"><a href="gallery_3columns.html"> Gallery: 3 Columns </a></span> </li>
                    <li> <span class="name"><a href="gallery_4columns.html"> Gallery: 4 Columns </a> </span></li>
                    <li> <span class="name"><a href="gallery_4columns_nospace.html"> Gallery: 4 Columns no space </a> </span></li>
                    <li><span class="name"> <a href="gallery_single_page.html"> Gallery: Single Page </a> </span></li>
                </ul>
            </li>
            <li>
                <span class="name"><span class="expander">-</span> <a href="typography.html">Pages</a></span>
                <ul>
                    <li><span class="name"><a href="typography.html">Typography</a></span></li>
                    <li><span class="name"><a href="infographic.html">Infographic</a></span></li>
                    <li><span class="name"><a href="our_office.html">Our Office</a></span></li>
                    <li><span class="name"><a href="our_store.html">Our Store</a></span></li>
                    <li><span class="name"><a href="our_services.html">Our Services</a></span></li>
                    <li><span class="name"><a href="login.html">Login</a></span></li>
                    <li><span class="name"><a href="team_members.html">Team Members</a></span></li>
                    <li><span class="name"><a href="shopping_cart.html">Shopping Cart</a></span></li>
                    <li><span class="name"><a href="checkout.html">Checkout</a></span></li>
                    <li><span class="name"><a href="compare.html">Products Compare</a></span></li>
                    <li><span class="name"><a href="pricing_tables.html">Pricing Tables </a> </span></li>
                    <li><span class="name"><a href="video_section.html"> Video section </a></span> </li>
                    <li><span class="name"><a href="faq.html">Faq</a></span></li>
                    <li><span class="name"><a href="delivery.html">Delivery</a></span></li>
                    <li><span class="name"><a href="sitemap.html"> Sitemap</a></span></li>
                </ul>
            </li>
            <li>
                <span class="name"> <span class="expander">-</span> <a href="listing.html">Women</a> </span>
                <ul>
                    <li>
                        <span class="name"> <span class="expander">-</span> <a href="listing.html"><span class="icon m-icon-dress"></span>Dresses</a> </span>
                        <ul>
                            <li><span class="name"><a href="listing.html">Club Dresses</a></span></li>
                            <li><span class="name"><a href="listing.html">Evening Dresses</a></span></li>
                            <li><span class="name"><a href="listing.html">Prom Dresses</a></span></li>
                        </ul>
                    </li>
                    <li>
                        <span class="name"> <span class="expander">-</span> <a href="listing.html"><span class="icon m-icon-shirts"></span>Shirts</a> </span>
                        <ul>
                            <li><span class="name"><a href="listing.html">Empty category #1</a></span></li>
                            <li><span class="name"><a href="listing.html">Empty category #2</a></span></li>
                            <li><span class="name"><a href="listing.html">Empty category #3</a></span></li>
                        </ul>
                    </li>
                    <li>
                        <span class="name"> <span class="expander">-</span> <a href="listing.html"><span class="icon m-icon-coats"></span>Coats</a> </span>
                        <ul>
                            <li><span class="name"><a href="listing.html">Empty category #4</a></span></li>
                            <li><span class="name"><a href="listing.html">Empty category #5</a></span></li>
                            <li><span class="name"><a href="listing.html">Empty category #6</a></span></li>
                        </ul>
                    </li>
                    <li>
                        <span class="name"> <span class="expander">-</span> <a href="listing.html"><span class="icon m-icon-jackets"></span>Jackets</a> </span>
                        <ul>
                            <li><span class="name"><a href="listing.html">Empty category #7</a></span></li>
                            <li><span class="name"><a href="listing.html">Empty category #8</a></span></li>
                            <li><span class="name"><a href="listing.html">Empty category #9</a></span></li>
                        </ul>
                    </li>
                    <li>
                        <span class="name"> <span class="expander">-</span> <a href="listing.html"><span class="icon m-icon-shorts"></span>Shorts</a> </span>
                        <ul>
                            <li><span class="name"><a href="listing.html">Empty category #10</a></span></li>
                            <li><span class="name"><a href="listing.html">Empty category #11</a></span></li>
                            <li><span class="name"><a href="listing.html">Empty category #12</a></span></li>
                        </ul>
                    </li>
                    <li>
                        <span class="name"> <span class="expander">-</span> <a href="listing.html"><span class="icon m-icon-jeans"></span>Jeans</a> </span>
                        <ul>
                            <li><span class="name"><a href="listing.html">Empty category #10</a></span></li>
                            <li><span class="name"><a href="listing.html">Empty category #11</a></span></li>
                            <li><span class="name"><a href="listing.html">Empty category #12</a></span></li>
                        </ul>
                    </li>
                    <li>
                        <span class="name"> <span class="expander">-</span> <a href="listing.html"><span class="icon m-icon-skirts"></span>Skirts</a> </span>
                        <ul>
                            <li><span class="name"><a href="listing.html">Empty category #16</a></span></li>
                            <li><span class="name"><a href="listing.html">Empty category #17</a></span></li>
                        </ul>
                    </li>
                    <li>
                        <span class="name"> <span class="expander">-</span> <a href="listing.html"><span class="icon m-icon-lingerie"></span>Lingerie</a> </span>
                        <ul>
                            <li><span class="name"><a href="listing.html">Empty category #18</a></span></li>
                            <li><span class="name"><a href="listing.html">Empty category #19</a></span></li>
                            <li><span class="name"><a href="listing.html">Empty category #20</a></span></li>
                        </ul>
                    </li>
                    <li>
                        <span class="name"><a href="listing.html"><span class="icon m-icon-tops"></span>Tops</a></span>
                        <ul>
                            <li><span class="name"><a href="listing.html">Empty category #21</a></span></li>
                            <li><span class="name"><a href="listing.html">Empty category #22</a></span></li>
                            <li><span class="name"><a href="listing.html">Empty category #23</a></span></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><span class="name"><a href="listing.html">ELECTRONICS</a></span></li>
            <li><span class="name"><a href="contacts.html">Contacts</a></span></li>
        </ul>
    </nav>
    <!-- //end Off Canvas Menu -->

    <div id="outer">
        <div id="outer-canvas">
            <!-- Navbar -->
            <header>

                <!-- Back to top -->
                <div class="back-to-top"><span class="icon-arrow-up-4"></span></div>
                <!-- //end Back to top -->

                <section class="navbar">
                    <div class="background">
                        <div class="container">
                            <!-- Logo -->
                            <div class="navbar-logo pull-left"> <a href="index.html"><img src="~/Content/Template/images/header-logo.png" alt="Megatron"></a></div>
                            <div class="navbar-welcome pull-left compact-hidden hidden-xs">Chào khách !</div>
                            <div class="clearfix visible-sm"></div>
                            <!-- //end Logo -->
                            <!-- Secondary menu -->
                            <div class="navbar-secondary-menu pull-right hidden-xs">
                                <div class="btn-group compact-hidden">
                                    <a href="#" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"> <span class="icon icon-vcard"></span> Đăng nhập </a>
                                </div>
                                <div class="btn-group compact-hidden">
                                    <a href="#" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"> <span class="icon icon-vcard"></span> Đăng ký </a>
                                </div>
                                <div class="btn-group">
                                    <a href="#" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"> <span class="compact-hidden">Giỏ hàng - <strong>$245</strong></span> <span class="icon-xcart-animate"><span class="box">3</span><span class="handle"></span></span> </a>
                                    <div class="dropdown-menu pull-right shoppingcart-box" role="menu">
                                        Recently added item(s)
                                        <ul class="list">
                                            <li class="item">
                                                <a href="product_default.html" class="preview-image"><img class="preview" src="~/Content/Template/images/products/product-07-small.jpg" alt=""></a>
                                                <div class="description"> <a href="#">Mauris et ligula quis</a> <strong class="price">1 x $44.95</strong> </div>
                                            </li>
                                        </ul>
                                        <div class="total">Total: <strong>$44.95</strong></div>
                                        <a href="#" class="btn btn-mega">Proceed to Checkout</a>
                                        <div class="view-link"><a href="shopping_cart.html">View shopping cart </a></div>
                                    </div>
                                </div>
                            </div>
                            <!-- //end Secondary menu -->
                            <!-- Search -->
                            <form class="navbar-search form-inline hidden-xs pull-right" role="form">
                                <div class="form-group">
                                    <button type="submit" class="button"><span class="icon-search-2"></span></button>
                                    <input type="text" class="form-control" value="Search" onblur="if (this.value == '') {this.value = 'Search';}" onfocus="if(this.value == 'Search') {this.value = '';}">
                                </div>
                            </form>
                            <!-- //end Search -->
                            <!-- Secondary menu mobile -->
                            <div class="navbar-secondary-menu pull-right  compact-hidden visible-xs">
                                <div class="btn-group visible-xs">
                                    <a href="#" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">En <span class="caret"></span> </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#"> <span class="icon-flag icon-flag-en">&nbsp;</span> English</a></li>
                                        <li><a href="#"> <span class="icon-flag icon-flag-de">&nbsp;</span> German</a></li>
                                        <li><a href="#"> <span class="icon-flag icon-flag-fr">&nbsp;</span> French</a></li>
                                        <li><a href="#"> <span class="icon-flag icon-flag-da">&nbsp;</span> Danish</a></li>
                                        <li><a href="#"> <span class="icon-flag icon-flag-el">&nbsp;</span> Greek</a></li>
                                        <li><a href="#"> <span class="icon-flag icon-flag-es">&nbsp;</span> Spanish</a></li>
                                        <li><a href="#"> <span class="icon-flag icon-flag-it">&nbsp;</span> Italian</a></li>
                                        <li><a href="#"> <span class="icon-flag icon-flag-nl">&nbsp;</span> Dutch</a></li>
                                        <li><a href="#"> <span class="icon-flag icon-flag-pl">&nbsp;</span> Polish</a></li>
                                        <li><a href="#"> <span class="icon-flag icon-flag-pt">&nbsp;</span> Portuguese</a></li>
                                        <li><a href="#"> <span class="icon-flag icon-flag-ru">&nbsp;</span> Russian</a></li>
                                        <li><a href="#"> <span class="icon-flag icon-flag-sv">&nbsp;</span> Swedish</a></li>
                                    </ul>
                                </div>
                                <div class="btn-group visible-xs">
                                    <a href="#" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">$ <span class="caret"></span> </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">($) US Dollars</a></li>
                                        <li><a href="#">(€) Euro</a></li>
                                        <li><a href="#">(&pound;) British Pounds</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- //end Secondary menu -->
                            <!-- Main menu -->
                            <dl class="navbar-main-menu hidden-xs">
                                <dt class="item">
                                    <ul class="sf-menu">
                                        <li>
                                            <a href="/" class="btn-main"><span class="icon icon-home"></span> Trang chủ</a>
                                        </li>
                                        <li>
                                            <a href="/Sach/ThemSach" class="btn-main"><span class="icon icon-plus"></span> Thêm Sách</a>
                                        </li>
                                    </ul>
                                </dt>
                                <dd></dd>

                            </dl>
                            <!-- //end Main menu -->

                        </div>
                    </div>
                    <!-- Mobile menu -->
                    <div class="container visible-xs">
                        <div class="mobile-nav row">
                            <div class="nav-item item-01"><a href="#" id="off-canvas-menu-toggle"><span class="icon icon-list-4"></span></a></div>
                            <div class="nav-item item-02">
                                <a href="#"><span class="icon icon-vcard"></span></a>
                                <div class="tab-content">
                                    <ul class="menu-list">
                                        <li><a href="#">Account</a></li>
                                        <li><a href="#">Wishlist</a></li>
                                        <li><a href="#">Checkout</a></li>
                                        <li><a href="login.html">Log In</a></li>
                                        <li><a href="login.html">Sign Up</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nav-item item-03">
                                <a href="#"><span class="icon icon-search-2"></span></a>
                                <div class="tab-content">
                                    <!-- Search -->
                                    <form class="navbar-search form-inline" role="form">
                                        <div class="form-group">
                                            <button type="submit" class="button"><span class="icon-search-2"></span></button>
                                            <input type="text" class="form-control" value="Search" onblur="if (this.value == '') {this.value = 'Search';}" onfocus="if(this.value == 'Search') {this.value = '';}">
                                        </div>
                                    </form>
                                    <!-- //end Search -->
                                </div>
                            </div>
                            <div class="nav-item item-04">
                                <a href="#"><span class="icon-xcart-white">3</span></a>
                                <div class="tab-content">
                                    <div class="shoppingcart-box">
                                        <div class="title">Recently added item(s)</div>
                                        <ul class="list">
                                            <li class="item">
                                                <div class="icon-product-edit"><a class="icon icon-edit" href="#"></a></div>
                                                <div class="icon-product-delete"><a class="icon icon-trash-2" href="#"></a></div>
                                                <a href="product_default.html" class="preview-image"><img class="preview" src="~/Content/Template/images/products/product-02-small.jpg" alt=""></a>
                                                <div class="description"> <a href="#">Mauris et ligula quis</a> <strong class="price">1 x $44.95</strong> </div>
                                            </li>
                                            <li class="item">
                                                <div class="icon-product-edit"><a class="icon icon-edit" href="#"></a></div>
                                                <div class="icon-product-delete"><a class="icon icon-trash-2" href="#"></a></div>
                                                <a href="product_default.html" class="preview-image"><img class="preview" src="~/Content/Template/images/products/product-03-small.jpg" alt=""></a>
                                                <div class="description"> <a href="#">Mauris et ligula quis</a> <strong class="price">1 x $44.95</strong> </div>
                                            </li>
                                        </ul>
                                        <div class="total">Total: <strong>$44.95</strong></div>
                                        <a href="#" class="btn btn-mega">Proceed to Checkout</a>
                                        <div class="view-link"><a href="shopping_cart.html">View shopping cart </a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- //end Mobile menu -->
                    <!-- Navbar switcher -->
                    <div class="navbar-switcher-container">
                        <div class="navbar-switcher"> <span class="i-inactive"><img src="~/Content/Template/images/icon-megatron.png" width="35" height="35" alt=""></span> <span class="i-active icon-cancel-3"></span> </div>
                    </div>
                    <!-- //end Navbar switcher -->

                </section>

                <!-- Navbar height -->
                <div class="navbar-height-inner"></div>
                <!-- Navbar height -->
                <!-- Navbar height -->
                <div class="navbar-height"></div>
                <!-- Navbar height -->

            </header>
            <!-- //end Navbar -->
            <!-- Slider -->
            <section class="main-slider container hidden-xs">
                <div class="owl-slider-outer">
                    <a class="owl-slider-prev"></a> <a class="owl-slider-next"></a>
                    <div class="owl-slider">
                        <div class="item"><img src="~/Content/Template/images/home_boxed_slider1-798x268.jpg" alt=""> <a href="index.html" class="title-slide-01"> <span class="big">Sale</span> <span class="middle">up to 40% OFF</span> </a></div>
                        <div class="item"><img src="~/Content/Template/images/home_boxed_slider2-798x268.jpg" alt=""> <a href="index.html" class="title-slide-02"> <span class="big">New</span> <span class="small">collection</span> <span class="middle">AUTUMN 2014</span> </a> </div>
                        <div class="item"><img src="~/Content/Template/images/home_boxed_slider3-798x268.jpg" alt=""> <a href="index.html" class="title-slide-03"> <span class="big">Special offer</span> <span class="middle">Save money with Lingerie SALE</span> </a></div>
                    </div>
                </div>
                <div class="banners-block">
                    <div class="item">
                        <a href="#">
                            <img src="~/Content/Template/images/banner1.jpg" alt="">
                            <div class="banner-text black">
                                100%<br>
                                RETINA READY
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="~/Content/Template/images/banner2.jpg" alt="">
                            <div class="banner-text">
                                <div class="inside">
                                    RESPONSIVE<br>
                                    LAYOUT
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>

            <!-- //end Slider -->
            <!-- Social widgets -->
            <section class="social-widgets hidden-xs">
                <ul class="items">
                    <li class="item item-01 facebook">
                        <a href="social/facebook.html" class="tab-icon"><span class="icon-facebook-3"></span></a>
                        <div class="tab-content">
                            <div class="title">FACEBOOK</div>
                            <div class="loading"><img src="~/Content/Template/images/ajax-loader.gif" class="ajaxloader" alt="loader"></div>
                        </div>
                    </li>
                    <li class="item item-02 twitter">
                        <a href="social/twitter.html" class="tab-icon"><span class="icon-twitter-3"></span></a>
                        <div class="tab-content">
                            <div class="title">TWITTER FEEDS</div>
                            <div class="loading"><img src="~/Content/Template/images/ajax-loader.gif" class="ajaxloader" alt="loader"></div>
                        </div>
                    </li>
                    <li class="item item-03 youtube">
                        <a href="social/youtubevideo.html" class="tab-icon"><span class="icon icon-youtube-3"></span></a>
                        <div class="tab-content">
                            <div class="title">Video</div>
                            <div class="loading"><img src="~/Content/Template/images/ajax-loader.gif" class="ajaxloader" alt="loader"></div>
                        </div>
                    </li>
                    <li class="item item-04 contacts">
                        <a href="social/googlemap.html" class="tab-icon"><span class="icon-globe"></span></a>
                        <div class="tab-content">
                            <div class="title">Find Us</div>
                            <div class="loading"><img src="~/Content/Template/images/ajax-loader.gif" class="ajaxloader" alt="loader"></div>
                        </div>
                    </li>
                </ul>
            </section>
            <!-- //end Social widgets -->
            <!-- Services -->
            <section class="services-block hidden-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-lg-4 divider-right"> <a href="index.html" class="item"> <span class="icon icon-airplane-2"></span> <span class="title">Free shipping</span> <span class="description">on orders over $200</span> </a> </div>
                        <div class="col-xs-12 col-sm-4 col-lg-4 divider-right"> <a href="index.html" class="item"> <span class="icon icon-clock"></span> <span class="title">30-day returns</span> <span class="description">moneyback guarantee</span> </a> </div>
                        <div class="col-xs-12 col-sm-4 col-lg-4"> <a href="index.html" class="item"> <span class="icon icon-umbrella "></span> <span class="title">24/7 Support </span> <span class="description">online consultations</span> </a> </div>
                    </div>
                </div>
            </section>
            <!-- //end Services -->
            <!-- Two columns content -->
            <section class="container content">
                <div class="row">

                    <!-- Left column -->
                    <aside class="col-sm-4 col-md-3 col-lg-3 content-aside">
                        <!-- Shop by categories -->
                        <section>
                            @{
                                Html.RenderPartial("~/Views/Shared/_pvLoaiHangHoa.cshtml", db.LoaiHangHoas);
                            }
                        </section>
                        <!-- //end Shop by categories -->

                        <div class="section-divider"></div>
                    </aside>
                    <!-- //end Left column -->
                    <!-- Right column -->
                    <section class="col-sm-8 col-md-9 col-lg-9 content-center">
                        @RenderBody()
                    </section>
                    <!-- //end Right column -->

                </div>
            </section>
            <!-- //end Two columns content --> <!-- Social navbar -->
            <section class="content content-border nopad-xs social-widget">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-6  col-lg-6 newsletter collapsed-block">
                            <div class="row">
                                <div class="col-lg-5  col-md-12 col-sm-12 ">
                                    <h3>NEWSLETTER SIGNUP <a class="expander visible-xs" href="#TabBlock-1">+</a></h3>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 tabBlock" id="TabBlock-1">
                                    <p>Enter your email and we'll send you a coupon with 10% off your next order.</p>
                                    <form class="form-inline" role="form">
                                        <div class="form-group input-control">
                                            <button type="submit" class="button"><span class="icon-envelop"></span></button>
                                            <input type="text" class="form-control" value="Your E-mail..." onblur="if (this.value == '') {this.value = 'Your E-mail...';}" onfocus="if(this.value == 'Your E-mail...') {this.value = '';}">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 collapsed-block">
                            <h3>FIND US ON<a class="expander visible-xs" href="#TabBlock-2">+</a></h3>
                            <div class="tabBlock" id="TabBlock-2">
                                <ul class="find-us">
                                    <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-facebook-3"></span></a></li>
                                    <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-twitter-3"></span></a></li>
                                    <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-linkedin-2"></span></a></li>
                                    <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-youtube-3"></span></a></li>
                                    <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-pinterest-2"></span></a></li>
                                    <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-googleplus-2"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- //end Social navbar -->
            <!-- Footer -->
            <footer>
                <section class="footer-navbar dark">
                    <div class="container content nopad-xs">
                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-3 collapsed-block">
                                <h3>Information<a class="expander visible-xs" href="#TabBlock-3">+</a></h3>
                                <div class="tabBlock" id="TabBlock-3">
                                    <ul class="menu">
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="#">Shipping &amp; Returns</a></li>
                                        <li><a href="#">Privacy Notice</a></li>
                                        <li><a href="#">Conditions of Use</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3 collapsed-block">
                                <h3><span class="attention"><span class="attention_icon"></span></span>Customer service<a class="expander visible-xs" href="#TabBlock-4">+</a></h3>
                                <div class="tabBlock" id="TabBlock-4">
                                    <ul class="menu">
                                        <li><a href="#">Online support</a></li>
                                        <li><a href="#">Help & FAQs</a></li>
                                        <li><a href="#">Call Center</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix visible-sm"></div>
                            <div class="col-sm-6 col-md-3 col-lg-3 collapsed-block">
                                <h3>My account<a class="expander visible-xs" href="#TabBlock-5">+</a></h3>
                                <div class="tabBlock" id="TabBlock-5">
                                    <ul class="menu">
                                        <li><a href="#">My Account</a></li>
                                        <li><a href="#">Order history</a></li>
                                        <li><a href="#">Advanced search</a></li>
                                        <li><a href="#">Reviews</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3 collapsed-block">
                                <h3>CUSTOM HTML BLOCK<a class="expander visible-xs" href="#TabBlock-6">+</a></h3>
                                <div class="tabBlock" id="TabBlock-6">
                                    <ul class="menu">
                                        <li><span class="icon icon-house"></span> 7563 St. Vincent Place, Glasgow</li>
                                        <li><span class="icon icon-phone-4"></span> 321321321, 321321321</li>
                                        <li><span class="icon icon-envelop"></span> <a href="mailto:info@mydomain.com">info@mydomain.com</a></li>
                                        <li><span class="icon icon-skype-2"></span> <a href="#">shop.test</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="footer-bottom-block container">
                    <div class="row">
                        <div class="col-sm-5 col-md-4 copyright-text"> &copy; 2016 <a href="#">Megatron</a>. All Rights Reserved. </div>
                        <div class="col-sm-3 col-md-4">
                            Select Store:
                            <div class="btn-group btn-select dropup">
                                <a href="#" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"> <span class="value">Main store</span> <span class="caret min"></span> </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Simple store</a></li>
                                    <li><a href="#">Style store</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <ul class="payment-list pull-right">
                                <li><img src="~/Content/Template/images/icon-payment-01.png" width="36" height="22" alt=""></li>
                                <li><img src="~/Content/Template/images/icon-payment-02.png" width="36" height="22" alt=""></li>
                                <li><img src="~/Content/Template/images/icon-payment-03.png" width="36" height="22" alt=""></li>
                                <li><img src="~/Content/Template/images/icon-payment-04.png" width="36" height="22" alt=""></li>
                                <li><img src="~/Content/Template/images/icon-payment-05.png" width="36" height="22" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </footer>
            <div id="outer-overlay"></div>
        </div>
    </div>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="~/Content/Template/js/html5shiv.js"></script>
        <script src="~/Content/Template/js/respond.min.js"></script>
        <![endif]-->
    <script src="~/Content/Template/js/jquery-1.10.2.min.js"></script>
    <!-- //end Footer -->
    <script src="~/Content/Template/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/Template/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/Content/Template/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Content/Template/js/jquery.mousewheel.min.js"></script>
    <script src="~/Content/Template/js/bootstrap.min.js"></script>
    <script src="~/Content/Template/js/jquery.flexslider.js"></script>
    <script src="~/Content/Template/js/owl.carousel.js"></script>
    <script src="~/Content/Template/js/jquery.jcarousel.min.js"></script>
    <script src="~/Content/Template/js/cloudzoom.js"></script>
    <script src="~/Content/Template/js/jquery.isotope.min.js"></script>
    <script src="~/Content/Template/js/jquery.parallax.js"></script>
    <script src="~/Content/Template/js/jquery.fancybox.js?v=2.1.5"></script>
    <script src="~/Content/Template/js/jquery.inview.js"></script>
    <script src="~/Content/Template/js/hoverIntent.js"></script>
    <script src="~/Content/Template/js/superfish.js"></script>
    <script src="~/Content/Template/js/supersubs.js"></script>
    <script src="~/Content/Template/js/jquery.plugin.js"></script>
    <script src="~/Content/Template/js/jquery.countdown.js"></script>
    <script src="~/Content/Template/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="~/Content/Template/js/megatron.js"></script>
    @*<script src="~/Scripts/giohang.js"></script>*@
    @RenderSection("scripts", false)
</body>
</html>
