
<div class="product-view product-view-compact row">
  <div class="col-sm-5 col-md-5 col-lg-5 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 ">
      <div class="large-image"> <img class = "cloudzoom" id="cloudzoom1" src = "images/products/product-02-01-593x722.jpg" data-cloudzoom = "zoomImage: 'images/products/product-02-01-888x1080.jpg', autoInside : 991" /> </div>
      <div class="">
        <div class="flexslider flexslider-thumb">
          <ul class="previews-list slides">
            <li><img class = 'cloudzoom-gallery' alt="#"  src = "images/products/product-02-01-76x92.jpg" data-cloudzoom = "useZoom: '#cloudzoom1', image: 'images/products/product-02-01-593x722.jpg', zoomImage: 'images/products/product-02-01-888x1080.jpg', autoInside : 991" ></li>
            <li><img class = 'cloudzoom-gallery' alt="#"  src = "images/products/product-02-02-76x92.jpg" data-cloudzoom = "useZoom: '#cloudzoom1', image: 'images/products/product-02-02-593x722.jpg', zoomImage: 'images/products/product-02-02-888x1080.jpg' " ></li>
            <li><img class = 'cloudzoom-gallery' alt="#"  src = "images/products/product-02-03-76x92.jpg" data-cloudzoom = "useZoom: '#cloudzoom1', image: 'images/products/product-02-03-593x722.jpg', zoomImage: 'images/products/product-02-03-888x1080.jpg' " ></li>
            <li><img class = 'cloudzoom-gallery' alt="#"  src = "images/products/product-02-04-76x92.jpg" data-cloudzoom = "useZoom: '#cloudzoom1', image: 'images/products/product-02-04-593x722.jpg', zoomImage: 'images/products/product-02-04-888x1080.jpg' " ></li>
            <li><a class="various fancybox.iframe" href="http://www.youtube.com/embed/L9szn1QQfas?autoplay=1"><img alt="#"  class='fancybox-video' src = "images/video.png" ></a></li>
          </ul>
        </div>
      </div>
  </div>
  <div class="info-cell col-sm-5 col-md-5 col-lg-5"> <a href="#" class="close-view"><span class="icon-cancel-3"></span></a>
    <h2>White Fringed Chuck on Top</h2>
    <p>Crocheted waistcoat from RIVER ISLAND. Open style with lace detailing at the shoulders. Fringes in the sides, sleeves and hem. Made of 86% Cotton and 14% Nylon. Model is 168 cm tall and is wearing a size Small.</p>
    <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <b>Size:</b>
    <div class="btn-toolbar">
      <div class="btn-group btn-select"> <a href="#" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"> <span class="value">32/34</span> <span class="caret min"></span> </a>
        <ul class="dropdown-menu">
          <li><a href="#">34/36</a></li>
          <li><a href="#">34/36</a></li>
          <li><a href="#">34/36</a></li>
        </ul>
      </div>
    </div>
    <b>Color:</b>
    <div class="btn-toolbar">
      <div class="btn-group btn-select"> <a href="#" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> <span class="value"><span class="icon-color icon-color-light-grey"></span> Light Grey</span> <span class="caret min"></span> </a>
        <ul class="dropdown-menu">
          <li><a href="#"><span class="icon-color icon-color-light-grey"></span> Light Grey</a></li>
          <li><a href="#"><span class="icon-color icon-color-red"></span> Light Grey</a></li>
          <li><a href="#"><span class="icon-color icon-color-light-grey"></span> Light Grey</a></li>
        </ul>
      </div>
    </div>
    <span class="price">$44.95</span> <a href="product_default.html" class="btn btn-mega-view">View Details</a>
      <div class="product-qr-code"><img src="images/product-qr.png" alt="" /></div>
</div>
</div>
